 <% if @city.errors.any? %>
 <div id="error_explanation">
  <ul>
    <% @city.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for @city do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :country %><br>  
  <%= f.select(:country, [['Canada', 'CA'], ['United States', 'US'], ['France', 'FR'], ['Philippines', 'PH']]) %>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>