<h1>Cities#show</h1>

<%= image_tag @flickr_photo_url %>

<%= link_to 'edit this city', edit_city_path(@city)  %>


<div>Name:</div>
<div><%= @city.name  %></div>
<div>Country:</div>
<div><%= @city.country %></div>


<% if @hours %>
<h3>Hours</h3>

<table>
<% @hours.each do |hour| %>
<tr>
  <th>Date</th>
  <th>Time</th>
  <th>Temperature</th>
  <th>Pressure</th>
  <th>Wind speed</th>
  <th>Wind direction</th>
  <th>Cloudiness</th>
</tr>
<%= render hour %>
<% end %>
</table>

<% end %>