
<div class="cityCard" style="background-image:url(<%= @flickr_photo_url %>)">
  <div class="cityCard_contents">
    <h1><%= @city.name  %></h1>
    
  </div>
</div>

<%= image_tag @flickr_photo_thumb_url %>
<h1><%= @city.name  %></h1>

<%= link_to 'edit this city', edit_city_path(@city)  %>


<div>Name:</div>
<div><%= @city.name  %></div>
<div>Country:</div>
<div><%= @city.country %></div>


<% if @hours %>
<h3>Hours</h3>

<table>
<tr>
  <th>Date</th>
  <th>Time</th>
  <th>Temperature</th>
  <th>Pressure</th>
  <th>Wind speed</th>
  <th>Wind direction</th>
  <th>Cloudiness</th>
</tr>
<% @hours.each do |hour| %>

<%= render hour %>
<% end %>
</table>

<script>
      var temp_data = []
      <% @hours.each do |hour| %>
      temp_data.push(<%= hour.temp %>)
      <% end %>

      var w = 500;
      var h = 200;
  var barPadding = 1;  // <-- New!
  var padding = 20;
  var svg = d3.select("body")
  .append("svg")
  .attr("width", w)
  .attr("height", h);

  var xScale = d3.scale.linear()
  .domain([0, d3.max(temp_data)])
  .range([0, w]);

  var yScale = d3.scale.linear()
  .domain([0, d3.max(temp_data)])
  .range([0, h - padding]);


  svg.selectAll("rect")
  .data(temp_data)
  .enter()
  .append("rect")
  .attr("x", function(d, i) {
    return i * (w / temp_data.length);
  })
  .attr("y", function(d) {
      return h - yScale(d);  //Height minus data value
    })
  .attr("width", w / temp_data.length - barPadding)
  .attr("height", function(d) {
    return yScale(d);
  })
  .attr("fill", 'gainsboro');




</script>

<% end %>

