<!DOCTYPE html>
<html>
<head>
  <title>D3Weather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:400,300,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="navigation" role="banner">

    <div class="navigation-wrapper">


      <a href="<%= root_path %>" class="logo">24<span class="h">H</span></a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link">
            <%= link_to "Cities", root_path  %>
          </li>
          <li class="nav-link">
            <%= link_to "Add City", new_city_path  %>
          </li>
        </ul>
      </nav>

    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="bm">
      &copy; 2015 <a href="http://brymac.ca/" target="_blank">Bryan MacDiarmid</a><br />
      Weather data: <a href="http://openweathermap.org/" target="_blank">OpenWeatherMap</a><br />
      Photography: see individual city pages for links to photographers. Photos used under CC.
    </div>
  </footer>

</body>
</html>
